/**************** Helpers ****************/

.overflow-hidden {
  overflow: hidden;
}

/********** Flex **********/

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-evenly {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/********** Text **********/

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.bold {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

