// small mobile
@media (min-width: 64px) and (max-width: 279px) {
  html {
    font-size: 12px;
  }
}
// medium mobile
@media (min-width: 280px) and (max-width: 479px) {
  html {
    font-size: 14px;
  }
}
// large mobile
@media (min-width: 480px) and (max-width: 767px) {
  .vacation-list-item .details {
    grid-template: 1fr 1.5fr / 1fr 1fr;
    .wrap-title {
      grid-area: 1 / 1 / 1 / 3;
    }
    .wrap-btn {
      grid-area: auto;
    }
  }
}

// // All mobile
// @media (min-width: 64px) and (max-width: 767px) {
// }

// All desktop
@media (min-width: 768px) {
  .desktop-padding-left-right {
    padding-left: var(--left-right-padding);
    padding-right: var(--left-right-padding);
  }
  .vacations {
    display: grid;
    grid-template: 1fr / 18rem 1fr;
    .list-filter {
      grid-area: 1 / 1 / 3 / 1;
    }
    .vacation-list {
      grid-area: auto;
      padding: 0 0.75rem 0 0;
      min-height: 45rem;
    }
  }
  .vacation-list-item .details {
    grid-template: 3.25rem 1fr / 1fr 1fr;
    .wrap-title {
      grid-area: 1 / 1 / 1 / 3;
      justify-content: space-between;
    }
    .wrap-btn {
      grid-area: auto;
      justify-content: flex-end;
    }
  }
}

// // small desktop
// @media (min-width: 768px) and (max-width: 1023px) {
// }

// above all small desktop
@media (min-width: 1023px) {
  .vacation-list-item {
    grid-gap: 1rem;
    grid-template: 1fr/ 9rem 1fr 9rem;
    .wrap-image,
    .wrap-price {
      height: 12rem;
    }
    .wrap-price {
      padding-top: 1.5rem;
    }
    .details {
      grid-area: auto;
      .summary {
        padding-top: 1rem;
      }
    }
  }
}

// small desktop - custom!
@media (min-width: 1024px) and (max-width: 1250px) {
  .vacation-list-item .details {
    grid-area: auto;
    .summary {
      padding-top: 0;
      grid-area: 2 / 1 / 2 / 3;
    }
    .wrap-btn {
      grid-area: 3 / 1 / 3 / 3;
    }
  }
}

// // small desktop
// @media (min-width: 1024px) and (max-width: 1419px) {
// }

// // above all medium desktop
// @media (min-width: 1419px) {
// }

// // medium desktop
// @media (min-width: 1420px) and (max-width: 1699px) {
// }

// large desktop
@media (min-width: 1700px) and (max-width: 1919px) {
  html {
    font-size: 18px;
  }
}

// Xlarge desktop
@media (min-width: 1920px) and (max-width: 2399px) {
  html {
    font-size: 20px;
  }
}
// XXlarge desktop
@media (min-width: 2400px) {
  html {
    font-size: 22px;
  }
}
