:root {
  --navBar-height: 5rem;
  --left-right-padding: 5vw;
  --direction-name: right;

  --font-color: white;
  --font-black: rgb(112, 112, 112);

  --blue: #313685;
  --blue-hover: hsl(236, 44%, 30%);
  --lightblue: rgb(9, 149, 227);
  --gray-light: rgb(211, 211, 211);

}
