:root {
  --navBar-height: 3.5rem;
  --left-right-padding: 5vw;

  --font-color: white;
  --blue: #313685;
  --lightblue: #2196f3;
  --red: #f44336;
  --gray: rgb(70, 70, 70);
  --gray-dark: rgb(46, 46, 46);

  --direction-name: right;
  --direction-short: rtl;
}
