.list-filter {
  border-radius: 3px;
  background-color: #313685;
  color: var(--font-color);
  text-align: var(--direction-name);
  .header-title {
    padding: 1rem;
    border-bottom: 2px solid var(--font-color);
  }

  .main {
    padding: 0 1rem 1rem;
    & > :not(:last-child) {
      border-bottom: 1px solid var(--font-color);
    }
    > * {
      padding: 1rem 0;
    }
  }
}
